<!DOCTYPE html>
<html>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <head>
        {% if title %}
            <title> stblr App - {{ title }}</title>
        {% else %}
        <title>stblr App</title>
        {% endif %}
    </head>
    <body>
        {% include 'snippets/unauth/navigation_top.html' %}
        <div class="container mt-2">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <div class="col-md">
            {% block content %}{% endblock %}
            </div>

        </div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script><script>feather.replace()</script>
        <script src="{{ url_for('static', filename='js/validate_pw.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap_themer.js') }}"></script>
    </body>

</html>