{% extends "layout.html" %}
    {% block content %}
        <!-- START LOGIN FORM -->
        <div class="container my-5 text-center">
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                <!-- START LOGIN FORM-MAIN-->
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <!-- COLORED HEADER -->
                        <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
                            <div class="lh-1">
                              <h1 class="h6 mb-0 text-white lh-1">Log in to your existing Account</h1>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <!-- EMAIL INPUT ICON -->
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><span data-feather="at-sign"></span></span>
                            </div>
                            <!-- EMAIL INPUT -->
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg", placeholder="E-Mail") }}
                            {% endif %}
                        </div>
                        <div class="input-group mb-3">
                            <!-- PASWORD INPUT ICON -->
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1"><span data-feather="key"></span></span>
                            </div>
                            <!-- PASWORD INPUT -->
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                            {% endif %}
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <!-- REMEMBER ME CHECKBOX -->
                            <div class="form-check mx-4 mt-2">
                                {{ form.remember(class="form-check-input") }}
                                {{ form.remember.label(class="form-check-label") }}
                            </div>
                            <!-- SUBMIT BUTTON -->
                            <div class="form-group mx-4">
                                {{ form.submit(class="btn btn-purple") }}
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!-- END LOGIN FORM-MAIN -->
                <!-- START LOGIN FORM-FOOTER -->
                <div class="border-top pt-3 text-center mt-2 mb-3">
                    <small class="text-muted ml-2">
                        <a href="#" class="text-decoration-none">Forgot Password?</a>
                    </small><br>
                    <small class="text-muted">
                        No account yet? <a class="text-decoration-none" href="{{ url_for('routes_register') }}"> Create one!</a>
                    </small>
                </div>
                <!-- END LOGIN FORM-FOOTER -->
            </div>
        </div>
        <!-- END LOGIN FORM -->
        {% endblock content%}