{% extends "layout.html" %}
    {% block content %}
            <!-- START REGISTER FORM -->
            <div class="p-4 p-md-5 border rounded-3">
                <!-- START REGISTER FORM-MAIN -->
                <form method="post" action="">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <!-- COLORED HEADER -->
                        <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
                            <div class="lh-1">
                              <h1 class="h6 mb-0 text-white lh-1">Register today!</h1>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <!-- USERNAME INPUT ICON -->
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span data-feather="hash"></span></span>
                            </div>
                            <!-- USERNAME INPUT -->
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                            {% endif %}
                        </div>
                        <div class="input-group mb-3">
                            <!-- EMAIL INPUT ICON -->
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span data-feather="at-sign"></span></span>
                            </div>
                            <!-- EMAIL INPUT -->
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg", placeholder="E-Mail") }}
                            {% endif %}
                        </div>
                        <!-- Pasword Input Field -->
                        <div class="row">
                            <div class="col-sm justify-content-between">
                                <div class="input-group mb-3">
                                    <!-- PASSWORD INPUT ICON -->
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span data-feather="key"></span></span>
                                    </div>
                                    <!-- PASSWORD INPUT -->
                                    {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.password(class="form-control form-control-lg", placeholder="Password", id="password-input") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="input-group mb-3">
                                    <!-- CONFIRM PASSWORD INPUT ICON -->
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span data-feather="key"></span></span>
                                    </div>
                                    <!-- CONFIRM PASSWORD INPUT -->
                                    {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- End Password Input-->
                        <div class="container">
                            <div class="col-6 mt-4 mt-xxl-0 w-auto h-auto">
                                <div class="alert px-4 py-3 mb-0 d-none" role="alert" id="password-alert">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            Your Password must atleast...
                                        </li>
                                        <li class="requirements leng">
                                            <i data-feather="check" class="fas fa-check text-success me-2"></i>
                                            <i data-feather="x" class="fas fa-times text-danger me-3"></i>
                                            .. be 8 characters long.
                                        </li>
                                        <li class="requirements big-letter">
                                            <i data-feather="check" class="fas fa-check text-success me-2"></i>
                                            <i data-feather="x" class="fas fa-times text-danger me-3"></i>
                                            .. include one big letter.
                                        </li>
                                        <li class="requirements num">
                                            <i data-feather="check" class="fas fa-check text-success me-2"></i>
                                            <i data-feather="x" class="fas fa-times text-danger me-3"></i>
                                            .. include one number.
                                        </li>
                                        <li class="requirements special-char">
                                            <i data-feather="check" class="fas fa-check text-success me-2"></i>
                                            <i data-feather="x" class="fas fa-times text-danger me-3"></i>
                                            .. inlcude one special character.
                                        </li>
                                        <li>
                                            but you don't have to. It must atleast be 8 Characters tho!
                                        </li>
                                    </ul>
                                </div>
                            </div>                                    
                        </div>

                        <div class="d-flex flex-row justify-content-between">
                            <!-- SUBMIT BUTTON -->
                            <div class="form-group mx-4">
                                {{ form.submit(class="btn btn-purple")}}
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!-- END REGISTER FORM-->
                <!-- START REGISTER FORM-FOOTER -->
                <div class="border-top pt-3 text-center mt-2">
                    <small class="text-muted">
                        Already Have an Account? <a class="text-decoration-none" href="{{ url_for('routes_login') }}"> Log In!</a>
                    </small>
                </div>
                <!-- END FORM-FOOTER -->
            </div>
            <!-- END REGISTER FORM -->
    {% endblock content %}